<h1>FirstAPP</h1>
<%= form_with url:  "/posts", method: :post,id: "form" do |form| %>
  <%= form.text_field :content  , id: "content"%>
  <%# ↪︎contentを取得するため %>
  <%= form.submit '投稿する' , id: "submit" %>
<% end %>

<div id="list">
</div>
<%# ↪︎投稿後にメモを追加する要素 %>

<% @posts.each do |post| %>
<%# この部分がクリックしたときにイベントを発火させたい場所 %>
<div class="post" data-id=<%= post.id %> data-check=<%= post.checked %>>
<%# ↪︎メモのidと、既読の有無を管理するcheckを代入している。 %>
    <div class="post-date">
      投稿日時：<%= post.created_at %>
    </div>
    <div class="post-content">
      <%= post.content %>
    </div>
  </div>
<% end %>
